// all

@import "config";

@import "reset";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    font-family: @font-family;
    font-size: @font-size;
}

@import "mobile-first";

@media (min-width: @tablet-min-width) {
    @import "tablet";
}

@media (min-width: @desktop-min-width) {
    @import "desktop";
}

/* wide screen */
@media (min-width: @wide-min-width) {
    @import "wide";
}