// config
@font-family: "sans-serif";
@font-size: 14px;

// spacing
@padding-around-input: 5px;
@padding-label-horizontal: 5px;
@padding-label-vertical: 8px;
@padding-inside-fieldset: 5px;

@fieldset-title-font-size: 20px;
@fieldset-title-height: 40px;
@fieldset-title-bg-color: #333;
@fieldset-title-color: #ddd;

@submit-zone-height: 47px;
@submit-zone-bg-color: #333;
@submit-zone-color: #ddd;


@field-padding-horizontal: 5px;
@field-padding-vertical: 2px;

@error-padding: 5px;

@footer-padding-vertical: 20px;
@footer-padding-horizontal: 20px;

// widths
@label-width: 200px;
@tablet-min-width: 480px;
@desktop-min-width: 600px;
@wide-min-width: 800px;

@max-site-width: 800px;

@padding-inside: 10px;

