// mobile-first

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    padding: 3px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/*input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 100%;
}*/
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

button[type=submit] {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
}
/* layout */
.container {
    width: 100%;
}
/* general classes */
.display-none {
    display:none !important;
}

.float-right {
    float: right;
}
.error {
    color: red;
    display: inline-block;
}

/* small screen */
.fieldset {
    .fieldset-title {
        font-size: @fieldset-title-font-size;
        height: @fieldset-title-height;
        background-color: @fieldset-title-bg-color;
        color: @fieldset-title-color;
        width: 100%;
        padding-top: @fieldset-title-font-size/2;
        padding-left: @padding-inside-fieldset + @field-padding-horizontal + @padding-label-horizontal;
    }

    .fieldset-inner {
        padding: @padding-inside-fieldset;
    }
}

.field {
    padding: @field-padding-vertical @field-padding-horizontal;
    width: 100%;
    vertical-align: top;

    .label {
        display: inline-block;
        width: 100%;
        padding: @padding-label-vertical @padding-label-horizontal;
        vertical-align: top;
    }
    .input {
        padding: @padding-label-horizontal;
        display: inline-block;
        width: 100%;

        input {
            width: 100%;
        }
    }
}

.submit-zone {
    padding-top: @fieldset-title-font-size/2;
    padding-right: @padding-inside-fieldset + @field-padding-horizontal + @padding-label-horizontal;
    height: @submit-zone-height;
    color: @submit-zone-color;
    background-color: @submit-zone-bg-color;

    .errors {

    }
    .submit {
    }
}

.footer {
    margin: 0 auto;
    padding: @footer-padding-vertical @footer-padding-horizontal;
    text-align: center;

    ul {
        li {
            display: inline-block;

        }
    }
}

.error {
    padding: @error-padding 0;
}


